<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-on-1 Video Call</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Video Call</h1>
            <div id="timer">00:00:00</div>
        </header>
        
        <main id="videos">
            <div id="remoteVideoContainer">
                <video class="video-player" id="remoteVideo" autoplay playsinline></video>
                <div class="name-tag" id="remoteName">Waiting for participant...</div>
            </div>
            <div id="localVideoContainer">
                <video class="video-player" id="localVideo" autoplay muted playsinline></video>
                <div class="name-tag" id="localName">You</div>
            </div>
        </main>
        
        <footer id="controls">
            <div class="control-container on" id="cameraButton">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.5 7.5V16.5C23.5 17.12 23.11 17.67 22.53 17.89C22.36 17.96 22.18 18 22 18C21.59 18 21.19 17.84 20.89 17.54L18 14.66V17C18 18.66 16.66 20 15 20H5C3.34 20 2 18.66 2 17V7C2 5.34 3.34 4 5 4H15C16.66 4 18 5.34 18 7V9.34L20.89 6.46C21.29 6.06 21.87 5.91 22.43 6.05C23 6.2 23.5 6.75 23.5 7.5Z" fill="white"/>
                </svg>
            </div>
            
            <div class="control-container on" id="micButton">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14C13.66 14 15 12.66 15 11V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 12.66 10.34 14 12 14Z" fill="white"/>
                    <path d="M17 11C17 14.53 14.39 17.44 11 17.93V21H13C13.55 21 14 21.45 14 22C14 22.55 13.55 23 13 23H11H9C8.45 23 8 22.55 8 22C8 21.45 8.45 21 9 21H11V17.93C7.61 17.44 5 14.53 5 11H7C7 13.76 9.24 16 12 16C14.76 16 17 13.76 17 11H19C19 11.34 18.98 11.67 18.95 12" fill="white"/>
                </svg>
            </div>

            <div class="control-container" id="endCallButton">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 9C10.4 9 8.85 9.25 7.4 9.72V12.82C7.4 13.21 7.17 13.56 6.84 13.72C5.86 14.21 4.97 14.84 4.18 15.57C4 15.75 3.75 15.85 3.48 15.85C3.2 15.85 2.95 15.74 2.77 15.56L0.29 13.08C0.11 12.9 0 12.65 0 12.38C0 12.1 0.11 11.85 0.29 11.67C3.34 8.77 7.46 7 12 7C16.54 7 20.66 8.77 23.71 11.67C23.89 11.85 24 12.1 24 12.38C24 12.65 23.89 12.9 23.71 13.09L21.23 15.57C21.05 15.75 20.8 15.86 20.52 15.86C20.25 15.86 20 15.75 19.82 15.58C19.03 14.84 18.14 14.22 17.16 13.73C16.83 13.57 16.6 13.23 16.6 12.83V9.73C15.15 9.25 13.6 9 12 9Z" fill="white"/>
                </svg>
            </div>
        </footer>
    </div>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>